*/node_modules/
test-results
.idea/
.gitignore
node_modules/.bin/_mocha
node_modules/.bin/dateformat
node_modules/.bin/jade
node_modules/.bin/mkdirp
node_modules/.bin/mocha
node_modules/.bin/semver
node_modules/.bin/strip-indent
node_modules/.bin/supports-color
node_modules/array-find-index/
node_modules/builtin-modules/
node_modules/camelcase-keys/
node_modules/camelcase/
node_modules/commander/
node_modules/currently-unhandled/
node_modules/dateformat/
node_modules/decamelize/
node_modules/diff/
node_modules/error-ex/
node_modules/escape-string-regexp/
node_modules/find-up/
node_modules/formatio/
node_modules/get-stdin/
node_modules/graceful-fs/
node_modules/growl/
node_modules/hosted-git-info/
node_modules/indent-string/
node_modules/is-arrayish/
node_modules/is-builtin-module/
node_modules/is-finite/
node_modules/is-string/
node_modules/is-utf8/
node_modules/jade/
node_modules/load-json-file/
node_modules/lolex/
node_modules/loud-rejection/
node_modules/map-obj/
node_modules/meow/
node_modules/mkdirp/
node_modules/mocha-multi/
node_modules/mocha-sinon/
node_modules/mocha-teamcity-reporter/
node_modules/mocha/
node_modules/normalize-package-data/
node_modules/number-is-nan/
node_modules/object-assign/
node_modules/parse-json/
node_modules/path-exists/
node_modules/path-type/
node_modules/pify/
node_modules/pinkie-promise/
node_modules/pinkie/
node_modules/read-pkg-up/
node_modules/read-pkg/
node_modules/redent/
node_modules/repeating/
node_modules/samsam/
node_modules/semver/
node_modules/should-equal/
node_modules/should-format/
node_modules/should-type-adaptors/
node_modules/should-type/
node_modules/should-util/
node_modules/should/
node_modules/signal-exit/
node_modules/sinon/
node_modules/spdx-correct/
node_modules/spdx-expression-parse/
node_modules/spdx-license-ids/
node_modules/strip-bom/
node_modules/strip-indent/
node_modules/supports-color/
node_modules/to-iso-string/
node_modules/trim-newlines/
node_modules/validate-npm-package-license/
node_modules/xunit-file/
output/
**/target
**/classes
**/checkouts
pom.xml
pom.xml.asc
**/*.jar
**/*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
**/.nrepl-port
*~
/molecule-core/build/


*.iml
.idea
node_modules
